<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div style="text-align:center">
    <h1>
      Welcome to {{ name }}!
    </h1>
    <p class="name">
      My name is: {{getName()}}!
    </p>

    <input [(ngModel)]="name" type="text" [disabled]="disabled">
    <button (click)="setName('Dani')">Click on me</button>

  </div>
  <script src="src\app\app.component.ts"></script>
</body>

</html>